---
import Layout from '../layouts/Global.astro';
import Card from '../components/Card.astro';
---

<Layout title= "DeadByBot - Website">
	<main>
		<h1>Bienvenue sur le site de support de DeadByBot</h1>
	</main>
</Layout>